/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/app/setup-log.txt
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.env.backup
.pytest_cache
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
/interactive_mvp.html
/demo_dashboard.html
/demo_dashboard_v2.html
/demo_ticket.html
